
/** style header et footer et prochainement **/

.global_font{
    font-family: 'Montserrat', sans-serif;
    color: rgb(253, 203, 70);
    text-align: center;
    line-height: inherit;
    
}

.global_background{
    background-color:#579c87;
    width: 100%;
}
h1{
    font-size: 4em;
}
.aside_prochainement{
    border-radius: 20px;
    max-width: 40%;
    margin-bottom: 50px;
    margin-right: 30%;
    margin-left: 30%;
    padding: 0;
}

.prochainement{
    font-size:2em;
    margin: 10px;
    
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer aside{
    margin: 20px;
}
a{
    text-decoration: none;
    color:inherit;
}

/** les polices des menus et leur taille **/

.footer_h3{
    font-size: 1.8em;
}
.note_font{
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 2em;
    
}


.delice_font{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

.pallette_font{
    font-family: 'Kaushan Script', cursive;
    font-size: 2em;
}

.chic_font{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
}

/* ici commence le design */

html, body{
    width:auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-top: 0;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 50px;
}


section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
}


.menu_style{
    font-size: 3em;
    font-family: 'Caveat', cursive;
    margin-top: 10px;
}


.accueil{
    display: flex;
    width: 40%;
    height: 600px;
    box-shadow: 0 0 2em rgb(179, 177, 177);
    text-align: center;
    justify-content: center;
    align-items: center;
    
}


/** style et marges du background des menus **/

.note{
    background-color: rgb(252, 223, 219);
    color: rgb(60, 18, 24);
    margin: 7% 3% 3% 7%;
}

.chic{
    background-color: rgb(255, 245, 254);
    color:rgb(199, 116, 18);
    margin: 7% 7% 3% 3%;
}

.delice{
    background-color: rgb(249, 249, 249);
    color: rgb(8, 135, 251);
    margin: 3% 3% 7% 7%;
}

.palette{
    background-color: rgb(253, 255, 253);
    color: rgb(114, 191, 86);
    margin: 3% 7% 7% 3%;
}

/**Ici le css commun à tous les menus **/

.section_menu{
    width:100%;
    padding: 5% 0 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat', cursive;
    font-size: 2em;
}
.div_global{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 0 2em rgb(179, 177, 177);
    padding: 3%;
    width: 80%;
}

.menu_heading{
    width: auto;
    text-align: center; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
}

.ligne{
    max-width: 300px;
    width: 100%;
    height: 100px;
    align-items: center;
    
}
.deco{
    width: inherit;
    display: flex;
    vertical-align: middle;
    align-items: center;
}


.global_meals{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-left: 50px;
    font-size: smaller;
}

.meals_details{
    width: auto;
    display: flex;
    flex-direction: row;
}

.meal{
    text-align: left;
    width: 90%;
    margin: 10px;
}

.price{
    text-align: right;
    width: 10%;
    font-weight: bold;
    margin: 10px;
}

/** ici les transitions communes des menu **/

.transition_menu{
    overflow: hidden;
}
.zoom{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transform: scale(1);
    transition: transorm, opacity, 200ms ease-out;
}
.zoom:hover{
    opacity: 0.6;
    transform: scale(1.3);
}





/** ici le css propre au menu note **/
.note_style{
    background-color: rgb(252, 223, 219);
    color: rgb(60, 18, 24);
}
.note_heading{
    text-align: center;
    width: auto;
}

.note_bottom{
    display: flex;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: auto;
}

.path-note{
    fill:rgb(60, 18, 24);
    stroke: transparent;
}
.gradient_note{
    fill: url(#gradientNote);
    stroke: transparent;
}
.noteIcone_width_accueil{
    width: 70px;
    height: 100px;
}
.noteIcone_width_menuTop{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: -30px;
}
.noteIcone_width_menuBottom{
    width: 60px;
    height: 100px;
    margin-right: 20px;
}
.transparent_note{
    fill: rgb(252, 223, 219);
}
.align_note{
    display: flex;
    justify-content: center;
    align-items: center;
}



/** ici le css propre au menu chic **/
.chic_style{
    
    background-color: rgb(255, 245, 254);
    font-family: 'Playfair Display', serif;
    
}

.orange{
   color: rgb(199, 116, 18) ;
}

.lavanda{
    color: rgb(157, 98, 219);
}

.purple{
    color:rgb(110, 76, 204)
}
.chic_degrade{
    background: -webkit-linear-gradient(310deg, rgb(243, 136, 13)20% ,rgb(157, 98, 219) 60%, rgb(110, 76, 204)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.chic_heading{
    text-align: center;
    width: auto;
    font-family: 'Croissant One', cursive;
}

.path_orange{
    fill: rgb(199, 116, 18);
    stroke: transparent;
}

.path_lavanda{
    fill: rgb(157, 98, 219);
}

.path_purple{
    stroke: transparent;
    fill: rgb(110, 76, 204);
}


/** ici le css propre au menu delice **/

.delice_style{
    background-color: rgb(249, 249, 249);

}
.delice_heading{
    text-align: center;
    width: auto;
    font-family: 'Dancing Script', cursive;
    color: rgb(8, 135, 251);
}

.ligne_delice{
    width: 300px;
    height: 100px;
    align-items: center;
    
}
.path1_delice{
    fill: rgb(7, 85, 158) ;
    stroke: transparent;
}

.path2_delice{
    fill: rgb(13, 122, 224) ;
    stroke: transparent;
}

.path3_delice{
    fill: rgb(82, 181, 238) ;
    stroke: transparent;
}
.delice_degrade{
    background: -webkit-linear-gradient(left,rgb(2, 41, 221)20%,rgb(8, 137, 251)70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** ici le css propre au menu palette **/

.palette_style{
    background-color: rgb(253, 255, 253);
}

.palette_heading{
    text-align: center;
    width: auto;
    font-family: 'Kaushan Script', cursive;
}
.degrade{
    background: -webkit-linear-gradient(left,rgb(69, 153, 62)20%,rgb(190, 255, 127)70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.gradient_palette_left{
    fill: url(#gradientPalette);

}
.gradient_palette_right{
    fill: url(#gradientPaletteRight)
}

/** ici l'animation des dots loading**/

.loading_dots {
    text-align: center;
    z-index: 5; 
    display: flex;
    justify-content: center;
    align-items: center;
}

  
.dot {
    display: inline;
    position: relative;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 3.5em;
    opacity: 0;
    animation: showHideDot 2.5s ease-in-out infinite;
    top: -0.5em;
    color:  rgb(253, 203, 70);
}
  
.one { animation-delay: 0.2s; }
.two { animation-delay: 0.4s; }
.three { animation-delay: 0.6s; }
    
  
  
  @keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}

/** ici l'animation wiggle sur les liens mention et contact **/

.wiggle { 
    animation: wiggle 75ms infinite;
    animation-timing-function: linear;   
  }
  
  @keyframes wiggle {
    0% { transform: translate(2px, 0); }
    50% { transform: translate(-2px, 0); }
    100% { transform: translate(2px, 0); }
  }

  /** ici le surlignement des titres **/

.titre{
    cursor: pointer;
    position:relative;
    transform: translateZ(0);
    padding-left: 20px;
    padding-right: 20px;
}
.titre:before{
    content:"";
    position:absolute;
    z-index:-1;
    left:0;
    right:100%;
    bottom:0;
    background:currentColor;
    height:3px;
    transition:right 0.3s ease-out;
    border-radius: 50%;
}
.titre:hover:before{
    right:0;
}
 /** ici le css de la page mentions légales**/
 .mention_section{
     display: flex;
     flex-direction: column;
     justify-content: left;
 }
 .mention{
     width: 50%;
 }
 .mention_header{
     text-align: center;
 }
 .titre_underline{
     text-decoration: underline;
 }

/** ici le responsive **/

  @media all and (max-width: 1024px){
    /** responsive page d'accueil et global **/
    section{
        flex-direction: column;
    }
    .accueil{
        width: 90%;
        height: 200px;
    }
    .note{
        margin: 5%;
    }
    .chic{
        margin: 5%;
    }
    .delice{
        margin: 5%;
    }
    .palette{
        margin: 5%;
    }
    .aside_prochainement{
        max-width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
    .prochainement{
        width: 100%;
        font-size: 1.5em;
    }
    .loading_dots{
        max-height: 30px;
    }
    footer{
        max-height: 100px;
        display: flex;
        align-items: center;
    }

    /** responsive menus **/
    .deco{
        width: 30%;
    }
  }


  